@charset "UTF-8";
/*
%bg-footer{
    background: -webkit-linear-gradient(90deg, #996600 0%, #cc9900 78%, #ffcc33 100%);
    background: -moz-linear-gradient(90deg, #996600 0%, #cc9900 78%, #ffcc33 100%);
    background: -o-linear-gradient(90deg, #996600 0%, #cc9900 78%, #ffcc33 100%);
    background: -ms-linear-gradient(90deg, #996600 0%, #cc9900 78%, #ffcc33 100%);
    background: linear-gradient(0deg, #996600 0%, #cc9900 78%, #ffcc33 100%);
}


%nav-bg{
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #fff1c8 27%, #ffcc33 100%);
    background: -moz-linear-gradient(90deg, #ffffff 0%, #fff1c8 27%, #ffcc33 100%);
    background: -o-linear-gradient(90deg, #ffffff 0%, #fff1c8 27%, #ffcc33 100%);
    background: -ms-linear-gradient(90deg, #ffffff 0%, #fff1c8 27%, #ffcc33 100%);
    background: linear-gradient(0deg, #ffffff 0%, #fff1c8 27%, #ffcc33 100%);
}

%nav-bg-hover{
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #e3f1ff 27%, #99ccff 100%);
    background: -moz-linear-gradient(90deg, #ffffff 0%, #e3f1ff 27%, #99ccff 100%);
    background: -o-linear-gradient(90deg, #ffffff 0%, #e3f1ff 27%, #99ccff 100%);
    background: -ms-linear-gradient(90deg, #ffffff 0%, #e3f1ff 27%, #99ccff 100%);
    background: linear-gradient(0deg, #ffffff 0%, #e3f1ff 27%, #99ccff 100%);
}
*/
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v13/Fl4y0QdOxyyTHEGMXX8kcVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v13/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v13/IC_Dw3HJuHH__1Luo8iRGA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v13/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(http://fonts.gstatic.com/s/roboto/v13/oHi30kwQWvpCWqAhzHcCSFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(http://fonts.gstatic.com/s/roboto/v13/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v13/isZ-wbCXNKAbnjo6_TwHTltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v13/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(http://fonts.gstatic.com/s/roboto/v13/7m8l7TlFO-S3VkhHuR0atxLwxQbNcFnuWuPk3YnjToI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(http://fonts.gstatic.com/s/roboto/v13/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(http://fonts.gstatic.com/s/roboto/v13/OpXUqTo0UgQQhGj_SFdLWPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(http://fonts.gstatic.com/s/roboto/v13/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(http://fonts.gstatic.com/s/roboto/v13/OLffGBTaF0XFOW1gnuHF0RLwxQbNcFnuWuPk3YnjToI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(http://fonts.gstatic.com/s/roboto/v13/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(http://fonts.gstatic.com/s/roboto/v13/t6Nd4cfPRhZP44Q5QAjcCxLwxQbNcFnuWuPk3YnjToI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(http://fonts.gstatic.com/s/roboto/v13/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  font-family: Roboto, sans-serif;
  color: #000;
}

.container {
  width: 1280px;
}

.header {
  position: relative;
  height: 90px;
  border-bottom: 2px solid #0033ff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.75);
  background: url(../img/fig11.png) repeat-x 0 0 #ffce3b;
}

.logo {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.logo_img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logo_title {
  display: inline-block;
  vertical-align: middle;
}
.logo_title_text1 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}
.logo_title_text2 {
  color: #ffffff;
  font-size: 12px;
  font-style: italic;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

.login {
  float: right;
  margin: 13px 13px 0;
}
.login_img {
  display: block;
  margin: 0 auto 5px;
}
.login_link {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  line-height: 1;
  margin-bottom: 4px;
  padding-bottom: 1px;
  border-bottom: 1px dashed #fff;
}
.login_link:hover, .login_link:active, .login_link:focus {
  text-decoration: none;
  border-bottom-color: #e6e6e6;
  color: #e6e6e6;
}

#checker {
  display: none;
}

.cart {
  position: relative;
  float: right;
  margin: 10px 7px 0;
}
.cart_visible {
  width: 110px;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.cart_visible_basket {
  display: inline-block;
  width: 55px;
  height: 43px;
  background: white url(../img/fig3.png) no-repeat right 0;
}
.cart_visible_basket_items {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  background: #ff0000;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: 4px;
  left: 16px;
}
.cart_visible_total {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 17px;
  left: -5px;
}
.cart_visible_label {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.cart_visible_label:before {
  content: 'Подробнее';
  display: inline-block;
  line-height: 1.1;
  border-bottom: 1px dashed #000;
}
#checker:checked ~ .cart_visible .cart_visible_label:before {
  content: 'Свернуть';
}
.cart_visible_label:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #996600 transparent transparent;
  border-width: 7px 4px 0;
  margin-left: 3px;
}
#checker:checked ~ .cart_visible .cart_visible_label:after {
  border-color: transparent transparent #996600;
  border-width: 0 4px 7px;
}
.cart_hidden {
  visibility: hidden;
  opacity: 0;
  width: 670px;
  height: 200px;
  background: #ccc;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.3s;
  pointer-events: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
#checker:checked ~ .cart_hidden {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/*# sourceMappingURL=r.css.map */
