.btn-cust{
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    background: url(../img/fig14.png) no-repeat 0 0 #ffce3b;
    background-size: 160px 44px;
    border-radius: 5px;
    line-height: 1;
    padding: 10px 40px;
    height: 44px;

    @include hover{
        color: #fff;
        text-decoration: none;
    }

    //preudo
    &:before{
        content: '';
        display:block;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 94%;
        margin-left: -47%;
        height: 2px;
        background: #0033ff;
        border-radius: 0 0 2px 2px;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: calc(100% + 1px);
        left:50%;
        width: 92%;
        height: 1px;
        margin-left: -46%;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.75);
    }

    //
    // Mods
    //

    &.-cart{
        font-size: 18px;
        padding: 11px 17px;
        top: 50px;
    }

    &.-grey{
        background-image: url(../img/fig23.png);
        background-color: #ccc;
    }

}
