.tovar{
    margin: 10px auto 70px;

    //
    //Left col
    //
    &_aside{
        float: left;
        width: 241px;
    }

    //
    //Right col
    //
    &_content{
        float: left;
        width: calc(100% - 241px);
        padding-left: 20px;

        &_preview{
            font-style: italic;
            color: #ffcc33;
            margin-bottom: 15px;
        }

        &_text{
            margin-bottom: 15px;
        }

        &_list{
            margin-bottom: 30px;

            &_item {
                margin-bottom: 15px;
            }
        }
    }
}

//Card
.card.-tovar{
    border: none;
    box-shadow: none;

    //hover
    @include hover{
        border:none;
        box-shadow: none;
    }
}

//File list
.file-list{
    list-style: none;
    padding-left: 40px;
    margin: 25px auto;
    text-align: left;

    &_title{
        color: #999;
        font-weight: 700;
        font-style: italic;
    }

    &_item > a{
        @extend .file-list_title;
        font-weight: 400;

        @include hover{
            color: darken(#999, 20%);
        }
    }
}

//Social Btns
.social{
    margin: 0 0 0 40px;

    &_text{
        color: #999;
        font-style: italic;
    }

    &_btn{
        display: inline-block;
        width: 50px;
        height: 55px;
        background-image: url(../img/fig21.png);
        background-repeat: no-repeat;

        &:nth-of-type(1){
            background-position: -5px -5px;
            @include hover {background-position: -63px -5px;}
        }
        &:nth-of-type(2){
            background-position: -121px -5px;
            @include hover {background-position: -180px -5px;}
        }
        &:nth-of-type(3){
            background-position: -239px -5px;
            @include hover {background-position: -297px -5px;}
        }
        &:nth-of-type(4){
            background-position: -355px -5px;
            @include hover {background-position: -412px -5px;}
        }

    }
}

